// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  // -webkit-text-size-adjust: 100%;
  // /* Font varient */
  // font-variant-ligatures: none;
  // -webkit-font-variant-ligatures: none;
  // /* Smoothing */
  // text-rendering: optimizeLegibility;
  // -moz-osx-font-smoothing: grayscale;
  // font-smoothing: antialiased;
  // -webkit-font-smoothing: antialiased;
  // text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
  background-color: $background-body;
  font-family: $primary-font;
  font-style: normal;
  font-size: 16px;
  color: $text-color;
  margin: 0;
}

main {

}

h1,
h2,
h3,
h4,
h5 {
  font-family: $primary-font;
  color: $primary-color;
}

p {
  font-family: $secondary-font;
  text-align: center;
  line-height: 14px;
  word-wrap: break-word;

  &.no-mb {
    margin-bottom: 0;
  }
}

/**
 * Basic styles for links
 */
a {
  color: $primary-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
    outline: none;
  }
}

video {
  width: 100%;
}
