// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

//this will help to identify empty alt attribute on img tags
// remember that according W3c alt attributes can be empty
//on decorative only purpose
//https://www.w3.org/TR/WCAG20-TECHS/H67.html

/*img[alt=""],
img:not([alt]) {
  border: 5px dashed #c00;
}*/

/**
 * custom-helpers
 */

.no-link {
  display: block;
  cursor: default;
  pointer-events: none;
}

.full-wd {
  width: 100%;
}
.no-pad {
  padding-left: 0;
  padding-right: 0;
}
.no-min-height {
  min-height: 0;
}
.no-transform-text {
  text-transform: none;
}


//position helpers
.pos-absolute {
  position: absolute;
}
.pos-relative {
  position: relative;
}
.pos-static {
  position: static;
}

//text-color
.text-white {
  color: $white;
}
.text-black-color {
  color: $black;
}
.primary-text-color {
  color: $primary-color;
}
.secondary-text-color {
  color: $secondary-color;
}

.text-center {
  text-align: center;
}

// font weights
.normalw-text {
  font-weight: 400;
}
.semibold-text {
  font-weight: 600;
}
.bold-text {
  font-weight: 700;
}
.blackw-text {
  font-weight: 900;
}

//backgrounds class
.bg-white {
  background: $white;
}
.bg-black {
  background-color: $black;
}
.bg-primary {
  background: $primary-color;
}
.bg-secondary {
  background: $secondary-color;
}
.bg-tertiary {
  background: $third-color;
}
.bg-tansparent {
  background-color: transparent;
}

.bg-dark-overlay {
  background-color: rgba($black, .47);
}

.bg-absolute-inset {
  position: absolute;
  inset: 0;
}

.section-title {
  font-size: 22px;
  text-align: center;
  color: $darker-grey;
}
