{% extends '_layout.html' %}

<!-- header -->
{% block content %}


<section class="">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="contact-info">
          <div class="section-title">
            <h2>Content not found</h2>
          </div>
          <p>Nothing was found on this location</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
