{% extends '_layout.html' %}

<!-- -->
{% block content %}
<main >
  <section class="banner" style="--bg-image:url('/assets/img/backgroundBitmap.png')">
    <div class="banner-content">
      <h1 class="banner-uppertext text-white">DREAMSHARE</h1>
      <h2 class="banner-title text-white">SHARE YOUR<br /> HOLIDAY DREAM</h2>
      <p class="banner-text text-white">
        And find the perfect partner to fullfill it
      </p>
      <button type="button" class="btn-default btn-primary btn-banner">Find your holiday partner</button>
    </div>
  </section>


  <section class="section how-works">
    <div class="container">
      <h3 class="section-title">How it works?</h3>

      <div class="how-works-row">

        <div class="how-work-items step-one">
          <div class="pos-relative">
            <img src="/assets/img/Step1.png" alt="Step One">
            <div class="pos-absolute bg-absolute-inset bg-dark-overlay">
              <div class="pos-absolute content">
                <h4 class="item-title">Sed leo enim,<br />condimentum</h4>
                <p class="item-text">
                  Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
                </p>
              </div>

            </div>
          </div>
        </div>


        <div class="how-work-items step-two">
          <div class="pos-relative">
            <img src="/assets/img/Step2.png" alt="Step Two">
            <div class="pos-absolute bg-absolute-inset bg-dark-overlay">
              <div class="pos-absolute content">
                <h4 class="item-title">Morbi velit risus</h4>
                <p class="item-text">
                  Nulla venenatis tempor dui in molestie.
                  <br />
                  Nulla quis dictum purus, sit amet
                  <br />
                  porttitor est.
                </p>
              </div>
            </div>
          </div>
        </div>


        <div class="how-work-items step-three">
          <div class="pos-relative">
            <img src="/assets/img/Step3.png" alt="Step Three">
            <div class="pos-absolute bg-absolute-inset bg-dark-overlay">
              <div class="pos-absolute content">
                <h4 class="item-title">Sed leo enim,<br />condimentum</h4>
                <p class="item-text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section meet-partner">
    <div class="container">
      <h3 class="section-title">Meet a partner for your best holiday</h3>

      <div class="partner-flex">
        <div class="flex-item">
          <div class="partner-card">
            <img src="/assets/img/Bradley.png" alt="Bradley Hunter" />
            <h5 class="partner-title">Bradley Hunter</h5>
            <p class="partner-text">
              Based in Chicago. I love playing tennis and loud music.
            </p>
          </div>
        </div>

        <div class="flex-item">
          <div class="partner-card">
            <img src="/assets//img/Diana.png" alt="Diana Wells">
            <h5 class="partner-title">Diana Wells</h5>
            <p class="partner-text">
              Living in Athens, Greece. I love black and white classics, chillout music and green tea.
            </p>
          </div>
        </div>

        <div class="flex-item">
          <div class="partner-card">
            <img src="/assets/img/Marie.png" alt="Marie Bennett">
            <h5 class="partner-title">Marie Bennett</h5>
            <p class="partner-text">
              Currently living in Colorado. Lover of art, languages and travelling.
            </p>
          </div>
        </div>

        <div class="flex-item">
          <div class="partner-card">
            <img src="/assets/img/Christopher.png" alt="Christopher Pierce">
            <h5 class="partner-title">Christopher Pierce</h5>
            <p class="partner-text">
              Star Wars fanatic. I have a persistent enthusiasm to create new things.
            </p>
          </div>
        </div>

      </div>


      <div class="text-center">
        <button type="button" class="btn-default btn-primary-outlined">
          See other partners
        </button>
      </div>
    </div>
  </section>


  <section class="section holiday-activities">
    <div class="container">

      <h3 class="section-title">Discover holiday activity</h3>


      <div class="tiles">
        <div class="tile">
          <div class="pos-relative">
            <img src="/assets/img/Sports.png" alt="Woman Running">
            <div class="pos-absolute bg-absolute-inset content">
              <h4 class="text-white">Sports and Activities</h4>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="pos-relative">
            <img src="/assets/img/Wellness.png" alt="Woman having sunbath">
            <div class="pos-absolute bg-absolute-inset content">
              <h4 class="text-white">Wellness and Health</h4>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="pos-relative">
            <img src="/assets/img/Extreme.png" alt="Man climbing a rock">
            <div class="pos-absolute bg-absolute-inset content">
              <h4 class="text-white">Extreme Sports<br />and Expeditions</h4>
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="pos-relative">
            <img src="/assets/img/Games.png" alt="Pocker game">
            <div class="pos-absolute bg-absolute-inset content">
              <h4 class="text-white">Games</h4>
            </div>
          </div>
        </div>
        <div class="tile feat">
          <div class="pos-relative">
            <img src="/assets/img/culture.png" alt="The Coliseum at Rome">
            <div class="pos-absolute bg-absolute-inset content">
              <h4 class="text-white">Culture and Education</h4>
            </div>
          </div>
        </div>


        <div class="tile feat-two">
          <div class="pos-relative">
            <img src="/assets/img/enjoymentRelaxation.png" alt="Woman having a massage session">
            <div class="pos-absolute bg-absolute-inset content">
              <h4 class="text-white">Enjoyment and Relaxation</h4>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="pos-relative">
            <img src="/assets/img/Traveling.png" alt="A young couple taking a selfie">
            <div class="pos-absolute bg-absolute-inset content">
              <h4 class="text-white">Traveling</h4>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

  <section class="section contact">
    <div class="container">
      <h3 class="section-title">Create your holiday activity</h3>
      <p class="text-center message">Hi! What are your holiday interests?</p>

      <div class="form-content">
        <form action="#">
          <div class="input-control">
            <label class="visually-hidden" for="interests">
              Enter your interest
            </label>
            <input
              type="text"
              id="interests"
              name="interests"
              placeholder="Enter your interests"
            />
          </div>

          <div class="action-button">
            <button type="submit" class="btn-default btn-primary">
              Search partners
            </button>
          </div>

        </form>
      </div>
    </div>
  </section>

</main>

{% endblock content %}
