// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// font-variables
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// /// Copy text color
// /// @type Color
// $text-color: rgb(34, 34, 34) !default;

// /// Main brand color
// /// @type Color
// $brand-color: rgb(229, 0, 80) !default;

// /// Light grey
// /// @type Color
// $light-grey: rgb(237, 237, 237) !default;

// /// Medium grey
// /// @type Color
// $mid-grey: rgb(153, 153, 153) !default;

// /// Dark grey
// /// @type Color
// $dark-grey: rgb(68, 68, 68) !default;


//color on variables
$white: #fff;
$black: #000;

$light-red: #FF4E50;
$darker-grey: #444444;
$aqua: #19D4CA;
$yellowish-orange: #FFA710;
$cornflower: #667DF3;
$brownish-grey: #666666;
$very-light-grey: #F7F3F2;
$Very-light-pink: #E3E3E3;



/// Company color pallete
$primary-color: $light-red;
$secondary-color: $darker-grey;
$third-color: #ffcc00;
$fourth-color: #333;
$darkblue: #011f3f;
$btncolor: $secondary-color;
$btn-hover: shade($primary-color, 0.3);
$background-body: $white;
$text-color: $black;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

