<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Dreamshare Landing Page">
    <title>
      Dreamshare
    </title>

    <!--Favicon-->
    <link rel="icon" href="/assets/img/favicon.jpg" type="image/jpg" />
  </head>

  <body>


    <!-- Header Area -->

    {% include 'partials/header.html' %}

    <!--- page content -->
    {% block content %}
    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <p>This is the base content</p>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}

    <!-- Footer Area -->

    {% include 'partials/footer.html' %}

    <!-- Scroll Top Area -->
    <a href="#top" class="go-top"><i class="las la-angle-up"></i></a>

    <!-- add footer scripts here like bootstrap, jquery etc-->

  </body>
</html>
