// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.section {
    padding: 50px 0;

    .section-title {
        text-align: center;
        font-family: $primary-font;
    }

}

.how-works {
    padding-bottom: 0;

    .how-works-row {
        margin-left: -15px;
        margin-right: -15px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        align-content: center;
        flex-direction: column;

        .how-work-items {

            padding-left: 15px;
            padding-right: 15px;
            color: $white;
            text-align: left;
            margin-bottom: 20px;
            border-radius: 5px;

            &:last-child {
                margin-bottom: 0;
            }

            .bg-dark-overlay {
                background-color: rgba($black, 0.3);
                border-radius: 5px;
            }

            img {
                display: block;
                width: 100%;
                max-width: 100%;
                height: auto;
                border-radius: 5px;
            }

            .content {
                inset: 0;
                top: auto;
                padding: 15px;
            }

            .item-title {
                font-family: $primary-font;
                color: $white;
                font-size: 24px;
                margin-bottom: 10px;
                text-transform: none;
            }

            .item-text {
                text-align: left;
                line-height: 1.2;
                font-size: 15px;
            }
        }

    }
}

.meet-partner {
    padding-bottom: 0;
}


.partner-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;

    margin-left: -15px;
    margin-right: -15px;

    .flex-item {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
}

.partner-card {
    padding: 1.2em;

    .partner-title {
        color: $darker-grey;
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .partner-text {
        line-height: 1.2;

    }
}



.holiday-activities {
    padding-bottom: 0;
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        font-size: 22px;
        text-align: center;
    }
}

.tiles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .tile {
        width: 100%;
        padding-bottom: 15px;

        img {
            display: block;
            width: 100%;
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }
    }
}

.contact {
    .message {
        color: $brownish-grey;
        font-size: 18px;
    }

    .form-content {
        text-align: center;
        width: 100%;

        form {
            display: flex;
            flex-direction: column;

        }

        .input-control {
            width: 100%;
        }

        input {
            padding: 7px 12px;
            border-radius: 5px;
            margin-bottom: 10px;
            width: 100%;

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                font-family: $secondary-font;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                font-family: $secondary-font;
            }

            &::-ms-input-placeholder { /* IE 10+ */
                font-family: $secondary-font;
            }
            &::-moz-placeholder { /* Firefox 18- */
                font-family: $secondary-font;;
            }
        }
        button {
            display: block;
            width: 100%;
        }
    }
}


@media (min-width: 768px) {
    .section {
        padding: 100px 0;

        .section-title {
            margin-bottom: 50px;
        }
    }

    .how-works {

        .how-work-items {
            .item-text {
                font-size: 16px;
            }
        }
    }

    .meet-partner {
        padding-bottom: 0;
    }

    .partner-flex {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        .flex-item {
            flex: 0 0 33%;
        }
    }

    .holiday-activities {
        padding-bottom: 0;
    }

    .tiles {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .tile {
            width: calc( (100% / 3) - 20px );

            img {
                display: block;
                width: 100%;
                max-width: 100%;
                height: auto;
                border-radius: 5px;
            }

            &.feat {
                width: calc( ( ( 100% / 3 ) * 2) - 10px );
            }

            &.feat-two {
                width: calc( ( ( 100% / 3 ) * 2) - 10px );
            }
        }

    }

    .contact {
        .form-content {

            form {
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;

            }

            .input-control {
                flex: 0 0 66.6666%;
                margin-right: 15px;
            }

            input {
                display: block;
                width: 100%;
            }
        }
    }

}

@media (min-width: 992px) {
    .how-works {
        padding-bottom: 0;

        .how-works-row {
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;

            .how-work-items {
                flex-grow: 1;
                flex-basis: 100%;
                margin-bottom: 0;
                width: 33.33333%;
            }
        }
    }

    .partner-flex {
        flex-wrap: nowrap;

        .flex-item {
            width: 33.3333%;
            flex: 1 1 33.333%;
        }
    }

    .partner-card {
        min-height: 285px;
    }

    .holiday-activities {
        padding-bottom: 0;
    }

    .contact {
        .form-content {
            form {
                justify-content: center;
            }

            .input-control {
                flex: 0 0 33.333%;
                margin-right: 15px;
            }
        }
    }
}

@media (min-width: 1200px) {

}
