.banner {
	position: relative;
	background-image: var(--bg-image);
	background-position: center;
	background-size: cover;
	height: 540px;
}

.banner-content {
	background-color: rgba(0, 0, 0, 0.3);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: $white;
	text-align: center;

	.banner-uppertext {
		font-family: $primary-font;
		font-size: 22px
	}

	.banner-title {
		font-size: 28px;
	}

	.banner-text {
		font-family: $secondary-font;
		font-size: 24px;
		line-height: 24.5px;

	}
}
@media (min-width: 768px) {

	.banner-content {
		.banner-uppertext {
			display: none;
		}
		.banner-title {
			font-size: 52px;
			margin-bottom: 0;
		}
	}

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {
	.banner {
		height: 700px;
	}
}

@media (min-width: 1800px) {
	.banner {
		height: 800px;
	}
}
