// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn-default {
  background-color: $primary-color;
  font-family: $primary-font;
  color: $white;
  border: none;
  padding: 7px 15px;
  font-size: 1rem;
  text-transform: none;
  text-align: center;
  text-decoration: none;
  border-radius: 40px;
  opacity: 1;



  @include on-event {
    background-color: $btn-hover;
    color: $white;
    text-decoration: none;
    opacity: 1;
  }
}

.btn-primary {
  color: $white;
  background-color: $primary-color;
  border-radius: 15px;
  padding: 7px 15px;
  border: none;
}

.btn-primary-outlined {
  background-color: $white;
  color: $primary-color;
  border: 1px solid $primary-color;

  @include on-event {
    background-color: $primary-color;
    color: $white;
  }
}
