// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.top-navbar {

}

.navbar-default {
	background-color: $primary-color;
	border-color: inherit;
  margin-bottom: 0;

	.navbar-brand {
		max-width: 200px;
		img {
			width: 100%;
		}
	}
	.navbar-toggle {
    border-color: $primary-color;
    background-color: $white;

    .icon-bar {
      background-color: $primary-color;
      height: 3px;
    }

		@include on-event {
      background-color: $primary-color;

      .icon-bar {
        background-color: $white;
      }
		}

	}

	.navbar-collapse {
		box-shadow: none;
		border: none;
	}

	ul.navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
		background-color: $primary-color;

    >li {
      >a {
        background-color: $primary-color;
        color: $white;
        font-size: 16px;

        @include on-event {
          background-color: $btn-hover;
          color: $white;
        }
      }

      &.active {
        a {
          background-color: shade($primary-color, 15%);
          color: $white;

          @include on-event {
            background-color: $btn-hover;
            color: $white;
          }
        }
      }
    }

	}
}

@media (min-width: 768px) {

	.navbar-default {
		border-radius: 0;
		border: none;

		ul.navbar-nav {
			background-color: $primary-color;
			// width: 100%;
			@include flex-navigation;

			>li {
				@include flex-child;
			}

			ul.dropdown-menu {
				padding-left: 0;
			}
			.open ul.dropdown-menu>li>a {
				background-color: $primary-color;
        padding: 10px 20px;
			}
		}
	}
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
